USE [master]
GO
/****** Object:  Database [Facultet2]    Script Date: 03.06.2020 0:28:10 ******/
CREATE DATABASE [Facultet2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Facultet2', FILENAME = N'G:\Soft\SQLExpress\MSSQL14.SQLEXPRESS\MSSQL\DATA\Facultet2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Facultet2_log', FILENAME = N'G:\Soft\SQLExpress\MSSQL14.SQLEXPRESS\MSSQL\DATA\Facultet2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Facultet2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Facultet2]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 03.06.2020 0:28:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 03.06.2020 0:28:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [int] NOT NULL,
	[Name] [varchar](35) NOT NULL,
	[Position] [varchar](35) NOT NULL,
	[Academic_degree] [varchar](35) NULL,
	[Description] [nvarchar](max) NULL,
	[WorkingTime] [int] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 03.06.2020 0:28:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[ID] [int] NOT NULL,
	[ID_Author] [int] NULL,
	[Text] [varchar](max) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Scientific_works]    Script Date: 03.06.2020 0:28:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scientific_works](
	[ID] [int] NOT NULL,
	[ID_employee] [int] NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Scientific_works] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 03.06.2020 0:28:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Coef] [real] NULL,
	[Name] [nvarchar](50) NULL,
	[ID_employee] [int] NULL,
 CONSTRAINT [PK_dbo.Subjects] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thems]    Script Date: 03.06.2020 0:28:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thems](
	[ID] [int] NOT NULL,
	[ID_Employee] [int] NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Thems] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Employees] ([ID], [Name], [Position], [Academic_degree], [Description], [WorkingTime]) VALUES (1, N'Чернышов Максим Карнельевич', N'Доцент', N'Кандидат наук', N'Любит есть горошек, но ненавидит чай и кофе и сахар', 544)
INSERT [dbo].[Employees] ([ID], [Name], [Position], [Academic_degree], [Description], [WorkingTime]) VALUES (2, N'Тютин Антон Павлович', N'Преподаватель', N'Магистр', N'Закончил детский сайт с красным дипломом', 900)
INSERT [dbo].[Employees] ([ID], [Name], [Position], [Academic_degree], [Description], [WorkingTime]) VALUES (3, N'Горбенко Олег Данилович', N'Доцент', N'Кандидат наук', N'Хотел стать работником завода, но стал программистом', 0)
GO
INSERT [dbo].[News] ([ID], [ID_Author], [Text], [Name], [Date]) VALUES (1, 1, N'Привет div {
  white-space: normal; /* свойство white-space наследуется, применяется ко всем элементам */ 
  border: 1px solid red;
}div {
  white-space: normal; /* свойство white-space наследуется, применяется ко всем элементам */ 
  border: 1px solid red;
}', N'Первая Новость', CAST(N'1900-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[News] ([ID], [ID_Author], [Text], [Name], [Date]) VALUES (2, 2, N'цувуцвццувцуцув', N'Вторая', CAST(N'1900-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[News] ([ID], [ID_Author], [Text], [Name], [Date]) VALUES (3, 1, N'укукукукуку', N'Третья Новость', CAST(N'1900-01-01T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Scientific_works] ([ID], [ID_employee], [Name]) VALUES (1, 1, N'TestT')
INSERT [dbo].[Scientific_works] ([ID], [ID_employee], [Name]) VALUES (2, 1, N'TestS')
INSERT [dbo].[Scientific_works] ([ID], [ID_employee], [Name]) VALUES (3, 3, N'ASDAS')
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([ID], [Coef], [Name], [ID_employee]) VALUES (0, 1, N'Информатика и программирование', 11)
INSERT [dbo].[Subjects] ([ID], [Coef], [Name], [ID_employee]) VALUES (2, 1, N'Языки и методы программирования', 11)
INSERT [dbo].[Subjects] ([ID], [Coef], [Name], [ID_employee]) VALUES (3, 1, N'Объектно-ориентированное программирование', 1)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
INSERT [dbo].[Thems] ([ID], [ID_Employee], [Name]) VALUES (1, 2, N'Программирование встроенных систем')
INSERT [dbo].[Thems] ([ID], [ID_Employee], [Name]) VALUES (2, 2, N'Верстка сайтов')
GO
/****** Object:  Index [IX_Relationship4]    Script Date: 03.06.2020 0:28:10 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship4] ON [dbo].[News]
(
	[ID_Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship2]    Script Date: 03.06.2020 0:28:10 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship2] ON [dbo].[Scientific_works]
(
	[ID_employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ID_employee]    Script Date: 03.06.2020 0:28:10 ******/
CREATE NONCLUSTERED INDEX [IX_ID_employee] ON [dbo].[Subjects]
(
	[ID_employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Relationship3]    Script Date: 03.06.2020 0:28:10 ******/
CREATE NONCLUSTERED INDEX [IX_Relationship3] ON [dbo].[Thems]
(
	[ID_Employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [Date]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [Relationship4] FOREIGN KEY([ID_Author])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [Relationship4]
GO
ALTER TABLE [dbo].[Scientific_works]  WITH CHECK ADD  CONSTRAINT [Relationship2] FOREIGN KEY([ID_employee])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[Scientific_works] CHECK CONSTRAINT [Relationship2]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Subjects_dbo.Employees_Employee_ID] FOREIGN KEY([ID_employee])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[Subjects] CHECK CONSTRAINT [FK_dbo.Subjects_dbo.Employees_Employee_ID]
GO
ALTER TABLE [dbo].[Thems]  WITH CHECK ADD  CONSTRAINT [Relationship3] FOREIGN KEY([ID_Employee])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[Thems] CHECK CONSTRAINT [Relationship3]
GO
USE [master]
GO
