@{
    ViewBag.Title = "История кафедры";
}



    <h4>История кафедры МО ЭВМ - история традиций</h4>
    <div align="justify">
        <br>
        Основатель кафедры – Виталий Евгеньевич Калечиц, в 70-80 годы один из ведущих специалистов в области программирования. <br>
        <br>
        Первоначально на кафедре вычислительной математики факультета ПММ под руководством В.Е.Калечица работала отдельная специализация «математическое обеспечение ЭВМ». Преподаватели данной специализации доценты В.Е.Калечиц и О.Ф.Ускова читали на ПММ лекции по программированию. Практические занятия вели ассистенты Г.Э.Вощинская, О.Д.Горбенко, Ю.Т.Свиридов, В.И.Шишкин, И.Ф.Астахова, Т.Н.Зимовец, Н.И.Лободин.  <br>
        <br>
        <img src="http://www.moevm.ru/img/Kaleciz_kafedra.JPG" border="0" alt="http://www.moevm.ru/img/Kaleciz_kafedra.JPG" title="http://www.moevm.ru/img/Kaleciz_kafedra.JPG"><br>
        <br>
        Для специализации МО ЭВМ В.Е.Калечиц разработал спецкурсы, направленные на подготовку высококлассных программистов системного уровня. В 70-е годы мало где в вузах страны изучались такие предметы как методы трансляции, разработка операционных систем и другие дисциплины, лежащие в основе системного программирования. Так зарождались традиции МО ЭВМ – освоение самых передовых теорий и технологий. В результате данная специализация неизменно лидировала на факультете по количеству поданных заявлений при распределении студентов по кафедрам. Благодаря сильной школе, обучавшиеся на МО ЭВМ студенты традиционно отличались высоким знанием теории и виртуозным программированием. Студенческие работы МО ЭВМ неоднократно занимали самые высокие места на всероссийских и всесоюзных конкурсах (А.А.Букатов, Н.И.Лободин, А.Я.Щукин, С.Д.Махортов). <br>
        <br>
        Параллельно под руководством В.Е.Калечица группа программистов в рамках хоздоговоров занималась разработкой программных систем. Деятельность этого коллектива была неразрывно связана с кафедрой: его сотрудники вели занятия, руководили курсовыми и дипломными работами (О.И.Нестерова, А.Я.Щукин, С.Д.Махортов, И.В.Раковский). Это было зарождением еще одной традиции кафедры МО ЭВМ – привлечение к преподаванию профессионалов.<br>
        <br>
        В 1982г. по инициативе В.Е.Калечица специализация МО ЭВМ была выделена в одноименную кафедру, и он же стал ее заведующим.  Упомянутая группа Калечица была организована в работающую при кафедре лабораторию системного программирования, заведующим которой был назначен Н.И.Лободин. Разработанная здесь кросс-система программирования тиражировалась по всей стране. Газета «Воронежский университет», апрель 1983г.:<br>
        <br>
        <img src="http://www.moevm.ru/img/gazeta_1.jpg" border="0" alt="http://www.moevm.ru/img/gazeta_1.jpg" title="http://www.moevm.ru/img/gazeta_1.jpg"><br>
        <br>
        В.Е.Калечиц продолжал плодотворно работать на кафедре, в лаборатории системного программирования, а также над докторской диссертацией. К величайшей скорби, в августе 1984г. он трагически погиб в возрасте сорока с небольшим лет. Кафедра понесла тяжелейшую утрату, но ученики В.Е.Калечица всегда будут благодарны ему за школу программирования, которую они прошли под его руководством.<br>
        <br>
        По материалам упомянутой кросс-системы Н.И.Лободин в 1987г. защитил кандидатскую диссертацию в МГУ им. М.В.Ломоносова.<br>
        <br>
        <img src="http://www.moevm.ru/img/Lobodin_2.jpg" border="0" alt="http://www.moevm.ru/img/Lobodin_2.jpg" title="http://www.moevm.ru/img/Lobodin_2.jpg"><br>
        <br>
        В период 1984-1995 кафедрой заведовал доцент К.С.Рыбак, приглашенный с физического факультета. В этот период кафедра адаптировалась к быстрому развитию компьютерной техники и программной инженерии. Разрабатывались новые спецкурсы, формировались направления научных исследований. <br>
        <br>
        Следующим руководителем кафедры был доцент О.Д.Горбенко (1995-2006). На этот период приходится большой объем учебно-методической работы. С участием сотрудников кафедры МО ЭВМ был разработан «Региональный стандарт общего среднего образования по информатике» для образовательных учреждений Воронежской области, изданы учебные и учебно-методические пособия по информатике для учителей и учащихся средних школ. Подготовлено и издано большое количество методических разработок по основным и специальным учебным курсам. Изданы учебные пособия, в том числе в ведущих издательствах России. Также в 1997г. состоялась защита диссертации на соискание ученой степени доктора технических наук И.Ф.Астаховой.<br>
        <br>
        По мере создания в ВГУ новых программистских кафедр приглашались многие сотрудники МО ЭВМ. В результате два раза существенно обновлялся состав кафедры. Наряду с упомянутыми  сотрудниками, в прошлом на МО ЭВМ в различное время работали преподаватели Е.Е.Михайлова, И.Е.Воронина, Б.Я.Львин, Н.А.Тюкачев, М.В.Бакланов, В.М.Мельников, Н.В.Огаркова, М.В.Матвеева, А.В.Эксаревский. Кафедра благодарна им за положительный вклад в ее развитие.<br>
        <br>
        <img src="http://www.moevm.ru/img/Kafedra_mid.JPG" border="0" alt="http://www.moevm.ru/img/Kafedra_mid.JPG" title="http://www.moevm.ru/img/Kafedra_mid.JPG"><br>
        <br>
        В период с 2000 года на кафедру были приняты Н.А.Каплиева (2000), И.Б.Крыжко (2002) и П.С.Татаринцев (2003). В 2004г. на кафедру после 20-летнего перерыва с математического факультета вернулся С.Д.Махортов, один из учеников В.Е.Калечица. В том же году были приняты М.К.Чернышов и А.Е.Поляков. <br>
        <br>
        В 2006г. заведующим кафедрой был избран С.Д.Махортов. Новое руководство взяло курс на существенное повышение научного и профессионального уровня кафедры. За прошедшие годы организовано сотрудничество с рядом крупнейших научных центров и сообществ России. Сотрудники регулярно публикуют научные статьи в центральных журналах по теоретической информатике и программированию. Кардинально переработаны и обновляются читаемые кафедрой учебные курсы. Для преподавания привлекаются высококвалифицированные программисты-профессионалы, работающие в известных фирмах. <br>
        <br>
        В 2007г. На кафедру был приглашен по совместительству опытный программист Д.В.Борисенков  (фирма «Релэкс»). В течение последующих лет состав кафедры регулярно пополняется молодыми профессионалами, бывшими выпускниками. К таковым, в частности, относятся Э.Ф.Мамедов и В.В.Глущенко («Siemens Business Services»), М.М.Безрядин (фирма «Эксперт»), Д.В.Баранов («DataArt»), М.Д.Шурлин («Reksoft»), И.Ю.Кузнецова («Radix-Tools»), С.Ю.Болотова, М.О.Коваленко («DataArt»), С.С.Чистяков («Джаст Соу Софт»), Е.В.Пастухов («Reksoft»), С.В.Ястребов («Atos»), И.Ю.Иванов («Релэкс»), А.И.Саксонов («DataArt»), А.В.Цуриков («DataArt»), В.А.Плотников («Релэкс»), С.Н.Пупыкин («DSR Corporation»), А.А.Петровская («DataArt»), И.С.Коротких.<br>
        <br>
        На сегодняшний день перешагнувшая 30-летний юбилей кафедра МО ЭВМ как никогда сильна студентами, преподавателями, читаемыми курсами, научным и учебно-методическим потенциалом. На кафедру, как и прежде, высокий конкурс среди студентов. Ее выпускники <a href="http://www.moevm.ru/index.php?name=Pages&amp;op=cat&amp;id=60" target="_blank" title="http://www.moevm.ru/index.php?name=Pages&amp;op=cat&amp;id=60"><u>работают</u></a> в известных фирмах, многие – за границей.  Заслуженным уважением студентов и коллег пользуются работающие на кафедре с момента ее основания О.Ф.Ускова, О.Д.Горбенко, Ю.Т.Свиридов, И.Ф.Астахова. Значительная часть преподавателей МО ЭВМ, включая ее заведующего, профессиональные программисты. <br>
        <br>
        На факультете ПММ кафедра ведет компьютерные предметы на четырех специальностях. Кафедральные группы МО ЭВМ изучают самые современные и актуальные дисциплины. Кафедра инициировала открытие на факультете нового направления обучения – «Фундаментальная информатика и информационные технологии» (О.Д.Горбенко). Сотрудники кафедры преподают также на других факультетах и в различных учебных центрах. <br>
        <br>
        На базе МО ЭВМ в течение многих лет регулярно проводятся олимпиады по информатике и программированию различного уровня (О.Ф.Ускова, О.Д.Горбенко, С.Д.Махортов). По инициативе кафедры на факультете ПММ была создана учебная лаборатория встроенных систем (П.С.Татаринцев). Возрождается лаборатория системного программирования им. В.Е.Калечица (С.Д.Махортов). Заключен договор с университетом прикладных наук Анхальт (Германия) об обмене студентами и аспирантами (С.Д.Махортов).  Открыт научно-образовательный центр «Биоинформатика и вычислительная геномика» (С.Д.Махортов).<br>
        <br>
        На кафедре функционируют <a href="http://www.moevm.ru/index.php?name=Pages&amp;op=cat&amp;id=6" target="_blank" title="http://www.moevm.ru/index.php?name=Pages&amp;op=cat&amp;id=6"><u>бакалавриат</u></a>, <a href="http://www.moevm.ru/index.php?name=Pages&amp;op=cat&amp;id=61" target="_blank" title="http://www.moevm.ru/index.php?name=Pages&amp;op=cat&amp;id=61"><u>магистратура</u></a> и аспирантура. <br>
        <br>
        Ведутся научные исследования по таким направлениям как теоретическая информатика, теория программирования, искусственный интеллект, нечеткие системы, биоинформатика. В новое время защищены кандидатские диссертации сотрудниками кафедры А.Е.Поляковым и Н.А.Каплиевой. В 2010г. С.Д.Махортов защитил докторскую диссертацию на мехмате МГУ им. М.В.Ломоносова. В 2012г. защитил кандидатскую диссертацию М.М.Безрядин. В конце 2013г. - начале 2014г. выпускники аспирантуры МО ЭВМ Д.В.Баранов и С.Ю.Болотова защитили кандидатские диссертации в МГУ им. М.В. Ломоносова. <br>
        <br>
        Сотрудники кафедры входят в состав открытого при факультете совета по защите кандидатских и докторских диссертаций (С.Д.Махортов, И.Ф.Астахова).<br>
    </div>
    