@using Site22.Models
@model Dictionary<String, List<Semestr>>
@{
    string strTitle = "Таблицы с результатом";
    ViewBag.Title = strTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@strTitle</h2>

<div>
    
    <div>
        

        
        <table>
            <thead>


                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            Предмет:  @item.Key
                        </td>
                    </tr>

                
                    foreach (var sub in item.Value)
                    {
                        <tr> Семестры:
                            <td>  @sub.number</td>
                        </tr>

                        foreach (var arr in sub.Clock)
                        {   
                            <tr>

                                <td>@arr.ToString(); </td>
                            </tr>
                        }



                     }

                 }

                </thead>

            </table>
       
    
    </div>
</div>