@{ ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<h2>
   <div align="center"> Добро пожаловать на сайт кафедры МО ЭВМ! </div>
</h2>

<p><font size="3">
    Кафедра математического обеспечения ЭВМ является одной из ведущих кафедр <a href="http://www.amm.vsu.ru/" target="_blank"><font size="2"><ins>факультета ПММ</ins></font></a> <a href="http://www.vsu.ru/" target="_blank"><font size="2"><ins>Воронежского государственного университета</ins></font></a>. <br>
    <br>
    Ее специализация на факультете - блок предметов, непосредственно связанных с информатикой и программированием.<br>
    <br>
    Кафедра была создана более 30 лет назад и длительное время оставалась единственной программистской кафедрой в вузах г. Воронежа.<br>
    <br>
    Ее выпускники работают в известных фирмах страны, а также за рубежом. В основном это - высококвалифицированные программисты системного уровня.<br>
    <br>
    На кафедре функционируют бакалавриат, магистратура и аспирантура.<br>
    <br>
    Сотрудники ведут научные исследования по таким направлениям как теоретическая информатика, теория программирования, искусственный интеллект, нечеткие системы, параллельное программирование, биоинформатика.<br>
    <br>
    Для получения более подробной информации приглашаем посетить соответствующие разделы нашего сайта.<br>
</font></p>